<div class="headerbar bborder">
  <div class="d-flex bd-highlight">
    <div class="flex-grow-1 bd-highlight">
      <input type="text" class="search-input" autocomplete="false" placeholder="Suche...">
    </div>
    <div class="bd-highlight">
      <button class="btn btn-primary add-device">Add device</button>
    </div>
    <div class="bd-highlight ml-30">
      <i class="far fa-question-circle icon"></i>
    </div>

    <div class="bd-highlight ml-30 mr-20">
      <i class="far fa-user icon"></i>
    </div>

  </div>


</div>
